APP_ENV=development

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=phalcon
DB_USERNAME=phalcon
DB_PASSWORD=troque_por_uma_senha_forte

MYSQL_ROOT_PASSWORD=troque_por_outra_senha_forte

ADMIN_EMAIL=admin@phalcon.local
ADMIN_PASSWORD=troque_por_uma_senha_forte_para_o_admin

REDIS_HOST=redis
REDIS_PORT=6379
